<div class="_wrapper">
    <div class="_service_content">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="row">
                    <div class="eleven wide column _content">
                        <h1 class="title_middle"><strong>Extras</strong></h1>
                        <h2 class="title_middle"><strong>Writer levels</strong></h2>
                            <h3>Tier 3</h3>
                            <p>We will provide you the best writer at the moment in your given field to deliver you high-quality work even in your tight deadline. The writers in these tiers usually have 5+ years of experience. They had already worked for 500+ projects with great results and good feedbacks from our customers.</p>
                            <h3>Tier 2</h3>
                            <p>The expert scholars who are more experienced (more than 7 years) and usually get impressive reviews. They will have high customer satisfaction rates and overall great in providing the best quality as possible.</p>
                            <h3>Tier 1</h3>
                            <p>Get our top ten writers for your given subject. All of them had more than 10+ years' experience in the given subject and worked for more than 1000 projects consistently producing great results.</p>
                        <h2 class="title_middle"><strong>Plagiarism free content</strong></h2>
                            <p>We will scan your document with the advanced plagiarism detection tool, Turnitin, and make your work as original as possible. We guarantee you a unique paper.</p>
                        <h2 class="title_middle"><strong>Guaranteed features</strong></h2>
                            <p>● Title page.</p>
                            <p>● Outline.</p>
                            <p>● Re-edits and revisions.</p>
                            <p>● Guarantee less than 6%plagiarism.</p>
                            <p>● Bibliography.</p>
                            <p>● Citations as per the referencing style.</p>
                            <p>● Perfect formatting as per your needs.</p>
                            <p>● Discounts.</p>
                            <p>● Money-back guarantee.</p>
                            <p>● Good customer support and 24*7 hours of assistance.</p>
                        <h2 class="title_middle"><strong>Contact us</strong></h2>
                            <p>You are only a step away from writing your essay by one of the best writing services in entire Europe! Meritmates will be online 24*7 hours to assist you in your urgent assignments. We will make sure you will get the best possible service at any time of the day.</p>
                            <p>Our support staff will gladly help you with your queries.</p>
                            <p>Give us a call and let us help you enhance your grades!</p>
                        <h2 class="title_middle"><strong>How does it work?</strong></h2>
                            <p>If you want to enjoy the services, Meritmates provide you need to take some relatively easy steps. Whenever you open any of our services, you'll notice a specific form for you to fill. The form will ask you some of your information:</p>
                            <p>We will need your full name, your email address, and a contact number. The privacy of your information is 100% secure and protected. We will never share your details with anyone as it is against our company policy and we obey the law.</p>
                            <p>We will need all the details regarding the type of paper you want us to deliver. Like essays, thesis, dissertations, Writing CV, resume, assignments, coursework, editing or proofreading, etc. You must provide the university guidelines, the level of your academics, include your deadline, and you just need to provide us more details about your field of work so that we can search for a suitable writer for you.</p>
                            <p>When writing CVs our writers must need your list of achievements, details about your hobbies and interests. You also need to provide any specific details you want us to include in your CV paper.</p>
                            <p>You'll need to provide us any strict-guidelines provided by your university.</p>
                            <p>Your price will be calculated according to your order and then you can submit your form to us.</p>
                        <h2 class="title_middle"><strong>Some important information</strong></h2>
                            <p>We cannot start your given work until the payment is done (Full or partial payment. 50% at the start). We will be unable to assign any writer before the payment.</p>
                            <p>You can pay us by any given payment methods. We accept all the debit cards, and master cards or you can also pay it digitally through any online payment method.</p>
                            <p>Your payments will be processed by a third-party processor with an SSL certification. Your financial information will be secure. No one had ever breached our security.</p>
                            <p>Once the payment is done, you will receive an order confirmation via email. We want you to check all the details of your placed order. If something is wrong, you can immediately contact us and inform us about the problem as we had already started our search for a writer that is most suitable according to your given details and we don't want to assign a wrong writer for you.</p>
                            <p>We will communicate directly through your email or by calling you (or any other online social interacting platforms like skype, zoom, etc.</p>
                            <p>You can communicate with your writer through an allotted personal manager. You can upload all the required documents or information to him. You will be able to check your progress and can ask for updates as much as you want. After receiving your final draft you can request us again to edit it through this account. If your writer wants to ask you any details or questions regarding your work, the personal manager will inform you. You can share any new ideas or information so that your writer can implement those as well.</p>
                            <p>After the completion of your work, your manager will send you an initial draft via email You can check if it is according to your standard. If no, we are happy to re-do it. You will have seven days to request a revision.</p>
                            <p>We want you to be readily available for the writer to produce quality work. Good communication and cooperation are vital for writing processes like these. We will guarantee you your best possible future because we are Meritmates. The best writing services in all of Europe.</p>
                    </div>
                    <div class="five wide column">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
