<div class="_wrapper">
    <div class="ui container">
        <div class="ui row grid _info_block">
          <div class="thirteen wide computer sixteen wide mobile sixteen wide tablet column _info_content">
            <h1 style="padding-bottom: 1.5rem;">FAQ</h1>
           </div>
        </div>
        <div class="ui row grid">
          <div class="eleven wide computer sixteen wide mobile sixteen wide tablet column _info_content">
            <h3>Basic</h3>
            <div class="ui styled fluid accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
                  What is the procedure for ordering a paper?
                </div>
                <div class="content">
                    <p class="transition hidden">Steps required for ordering your paper:</p>
                    <p class="transition hidden">• Step 1: Fill out the Meritmates' order form. You can find it on our website. Fill in your details describing your requirements and share all the materials needed.</p>
                    <p class="transition hidden">• Step 2: Get your quote and proceed to the payment. We will mail you about the order confirmation. You can get in touch with the personal manager at any time. A suitable expert in your field will be allotted to write your paper.</p>
                    <p class="transition hidden">• Step 3: Your final draft will be uploaded to you. You can ask for a revision within the following 7 days after the delivery of your paper.</p>
                    <p class="transition hidden">• Step 4: Rate us in the feedback section of your account.</p>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  How do I communicate with my assigned writer?
                </div>
                <div class="content">
                  <p class="transition hidden">You can easily communicate with your writer anytime via the personal manager.</p>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  Can I see my paper before any payment?
                </div>
                <div class="content">
                  <p class="transition hidden">Meritmates is a prepaid service. We will provide you the first draft as per your initial payment.</p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    What is the procedure if I want to request a revision for a paper?
                  </div>
                  <div class="content">
                    <p class="transition hidden">You can request a revision within 7 days after its successful delivery. You can request it to the personal manager and your amendments will reach you in no time.</p>
                  </div>
                  <div class="title">
                    <i class="dropdown icon"></i>
                    Is it secure to use your services? Is it confidential?
                  </div>
                  <div class="content">
                    <p class="transition hidden">Yes, our service is confidential. Your order history will remain encrypted. Your personal information will not be shared with any third party including our experts. Our experts will get to know your customer ID number only.</p>
                  </div>
                  <div class="title">
                    <i class="dropdown icon"></i>
                    What are the types of papers you do you provide?
                  </div>
                  <div class="content">
                    <p class="transition hidden">Meritmates' experienced writers can write papers from any level on various subjects. Some of the popular ones are:</p>
                    <p class="transition hidden">• Essay</p>
                    <p class="transition hidden">• Dissertation</p>
                    <p class="transition hidden">• Assignments</p>
                    <p class="transition hidden">• CV service</p>
                    <p class="transition hidden">• Editing and Proofreading</p>
                    <p class="transition hidden">• Presentation</p>
                    <p class="transition hidden">• Thesis</p>
                    <p class="transition hidden">• Editing service</p>
                    <p class="transition hidden">• Annotation bibliography</p>
                  </div>
                  <div class="title">
                    <i class="dropdown icon"></i>
                    Do you deliver your papers within the time limits?
                  </div>
                  <div class="content">
                    <p class="transition hidden">Being a client-oriented company and knowing the importance of university deadlines, we guarantee you to successfully deliver your paper without any delays</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="ui row grid">
            <div class="eleven wide computer sixteen wide mobile sixteen wide tablet column _info_content">
              <h3>Our Writers</h3>
              <div class="ui styled fluid accordion">
                  <div class="title">
                    <i class="dropdown icon"></i>
                    Do you have native English speakers among your experts?
                  </div>
                  <div class="content">
                      <p class="transition hidden">Yes, each of our writers is well versed in the English language. They had published many papers for the students around the UK for more than 5 years.</p>
                  </div>
                  <div class="title">
                    <i class="dropdown icon"></i>
                    Who are your domain experts and what is their Qualification?
                  </div>
                  <div class="content">
                    <p class="transition hidden">Our experts are Ph.D. holders and have a minimum of 5 years of experience in their respective fields. They had produced countless high-quality papers for the students all around Europe. You must take advantage of their expertise.</p>
                  </div>
                </div>
            </div>
          </div>
          <div class="ui row grid">
            <div class="eleven wide computer sixteen wide mobile sixteen wide tablet column _info_content">
              <h3>Quality</h3>
              <div class="ui styled fluid accordion">
                  <div class="title">
                    <i class="dropdown icon"></i>
                    Why should I trust you?
                  </div>
                  <div class="content">
                      <p class="transition hidden">Meritmates helped students from all over Europe for 5 years of service. Our experts are very capable of providing you the standards that your university requires. They had never left a student unsatisfied in their whole career as they are experienced enough to understand the quality, your tutor expects. You can visit our social media and can read the reviews and feedback written by the students whom we assisted.</p>
                    </div>
                  <div class="title">
                    <i class="dropdown icon"></i>
                    Do you guarantee for plagiarism-free paper?
                  </div>
                  <div class="content">
                    <p class="transition hidden">We guarantee you below 6% plagiarism. We will also provide you the "Turnitin" (a paid tool) plagiarism-report. We always start your paper from the scratch and always strive to provide you with a quality product.</p>
                  </div>
                  <div class="title">
                    <i class="dropdown icon"></i>
                    How do you ensure quality?
                  </div>
                  <div class="content">
                    <p class="transition hidden">We will work on your paper with strict guidelines as per your university criteria. The expert we provide had already done tones of research in your given field. He will make sure your paper will be of the best quality. Your paper will go through the Turnitin plagiarism check to provide a plagiarism-free final product.</p>
                  </div>
                </div>
            </div>
          </div>
          <div class="ui row grid">
            <div class="eleven wide computer sixteen wide mobile sixteen wide tablet column _info_content">
              <h3>Price</h3>
              <div class="ui styled fluid accordion">
                  <div class="title">
                    <i class="dropdown icon"></i>
                    Is there any discount policy?
                  </div>
                  <div class="content">
                      <p class="transition hidden">If you place your order for more than one assignment then you can enjoy our discount policy. Contact us to know more about the policy.</p>
                    </div>
                  <div class="title">
                    <i class="dropdown icon"></i>
                    Can I pay in the installments?
                  </div>
                  <div class="content">
                    <p class="transition hidden">Yes, sure you can pay the complete amount in flexible installments. We understand the tight student budget.</p>
                  </div>
                  <div class="title">
                    <i class="dropdown icon"></i>
                    If my deadline is very short. Will the price get higher?
                  </div>
                  <div class="content">
                    <p class="transition hidden">No worries, we completely understand the budget issue regarding the student. We will submit your paper within the time limit without compromising the quality.</p>
                  </div>
                </div>
            </div>
          </div>
    </div>  
    
</div>