<div class="ui fixed inverted borderless menu _customHeader" style="background-color: #16151F">
  <div class="ui container _destopscreen">
        <!-- <a (click)="toggleNav()">Open</a> -->
        <a class="header item" (click)="navigate('home')">
          <img class="logo" src="./assets/logo.png" />
                 EaSeUP
        </a>
        <div class="ui simple dropdown item">
          Services
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" (click)="navigate('services','essay')">Essay Services</a>
            <a class="item" (click)="navigate('services','disseration')">Dissertation Services</a>
            <a class="item" (click)="navigate('services','assignment')">Assignment Services</a>
            <a class="item" *ngIf="false" (click)="navigate('services','admission')">Admission Services</a>
            <a class="item" (click)="navigate('services','courseWork')">Coursework Services</a>
            <a class="item" (click)="navigate('services','cv')">CV Services</a>
            <a class="item" *ngIf="false" (click)="navigate('services','copywriting')">Copywriting Services</a>
            <a class="item" (click)="navigate('services','editing')">Editing & Proofreading Services</a>
            <a class="item" (click)="navigate('services','thesis')">Thesis Services</a>
          </div>
        </div>
        <a class="item" (click)="navigate('price')"> Prices </a>
        <a class="item" (click)="navigate('contact')"> Contact</a>
        <a class="item" (click)="navigate('review')"> Reviews </a>
        <div class="ui simple dropdown item">
          More
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" (click)="navigate('extra')"><i class="edit icon"></i> Extras</a>
            <a class="item" (click)="navigate('faq')"><i class="globe icon"></i> FAQ</a>
            <a class="item" (click)="navigate('about-us')"><i class="address book icon"></i> About us</a>
            <!-- <a class="item"><i class="settings icon"></i> Account Settings</a> -->
          </div>
        </div>
        <div class="right item">
          <div class="_headerButton">
            <button class="large ui inverted yellow button" (click)="toggleCal()">ORDER NOW</button>
          </div>
        </div>
  </div>

  <div class="ui  container _mobilescreen">
    <!-- <a (click)="toggleNav()">Open</a> -->
    <a class="header item" (click)="navigate('home')">
      <img class="logo" src="./assets/logo.png" />
             EaSeUP
    </a>
    <div class="right item" (click)="toggleSidebar()">
      <i class="bars icon"></i>
    </div>
  
  </div>
</div>


