<div class="ui inverted vertical footer segment bottom _custom_footer">
    <!--aboveFooter-->
    <div class="ui container _top">
        <div class="ui stackable grid">
            <div class="row">
                <div class="six wide column">
                    <div class="ui stackable equal width row grid _footer_contacts">
                        <div class="column">
                            <a class="_footer_phone" href="#">
                                <i class="horizontally flipped phone icon"></i>
                                +91 523 854 7513</a>
                        </div>
                        <div class="column">
                            <a class="_footer_phone" href="#">
                                <i class="mail icon"></i>
                                support@easyUp.com</a>
                        </div>
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="ui stackable row grid _footer_links">
                        <div class="three wide center aligned computer only column">
                            <a href="#" rel="nofollow">Terms of Use</a>
                        </div>
                        <div class="three wide left aligned mobile only column">
                            <a href="#" rel="nofollow">Terms of Use</a>
                        </div>
                        <div class="five wide column">
                            <a href="#" rel="nofollow">Money Back Guarantee</a>
                        </div>
                        <div class="three wide center column">
                            <a href="#" rel="nofollow">Cookie Policy</a>
                        </div>
                        <div class="five wide column">
                            <a href="#" rel="nofollow">© EaSeUp.com, 2020</a>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div class="ui divider _custom_divider"></div>
    <!--BottomFooter-->
    <div class="ui container bottom">
        <div class="ui stackable inverted equal height stackable grid">
            <!--contact and Services-->
            <div class="six wide column">
                <div class="ui two column row grid">
                    <div class="column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Religious Ceremonies</a>
                            <a href="#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Essay Service</a>
                            <a href="#" class="item">CV Service</a>
                            <a href="#" class="item">Assignment Service</a>
                            <a href="#" class="item">Admission Service</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Subscribe-->
            <div class="seven wide column">
                <div class="ui one column row grid">
                    <div class="column">
                        <div class="ui inverted header">
                            Stay Connected
                        </div>
                    </div>
                </div>
                <div class="ui one column row grid">
                    <div class="column">
                        <p class="_info_text">
                            Join over 10,500 people who receive bi-weekly eassy writing tips
                        </p>
                    </div>
                </div>
                <div class="ui one column row grid">
                    <div class="column">
                        <div class="ui action input">
                            <input type="text" value="" placeholder="Email Address">
                            <button class="ui red right labeled icon button _customBtn">
                              <i class="angle right icon"></i>
                              Sign-Up
                            </button>
                          </div>
                    </div>
                </div>
            </div>
            <!--Social Icon-->
            <div class="three wide computer only column">
                <div class="ui four column row grid">
                    <div class="column">
                        <i class="large circular facebook icon _facebook "></i>
                    </div>
                    <div class="column">
                        <i class="large circular twitter plus g icon _twitter"></i>
                    </div>
                    <div class="column">
                        <i class="large circular google plus g icon _google"></i>
                    </div>
                    <div class="column">
                        <i class="large circular instagram icon _instagram"></i>
                    </div>
                </div>
                <div class="ui four column centered row grid">
                    <div class="column">
                        <i class="large circular linkedin icon _linkedin"></i>
                    </div>
                    <div class="column">
                        <i class="large circular youtube icon _google"></i>
                    </div>
                </div>
            </div>
            <div class="three wide mobile only column">
                <div class="ui five column row grid">
                    <div class="column">
                        <i class="large circular facebook icon _facebook "></i>
                    </div>
                    <div class="column">
                        <i class="large circular twitter plus g icon _twitter"></i>
                    </div>
                    <div class="column">
                        <i class="large circular google plus g icon _google"></i>
                    </div>
                    <div class="column">
                        <i class="large circular instagram icon _instagram"></i>
                    </div>
                    <div class="column">
                        <i class="large circular linkedin icon _linkedin"></i>
                    </div>
                </div>
            </div>
            <div class="three wide tablet only column">
                <div class="ui two column row grid">
                    <div class="column">
                        <i class="large circular facebook icon _facebook "></i>
                    </div>
                    <div class="column">
                        <i class="large circular twitter plus g icon _twitter"></i>
                    </div>
                </div>
                <div class="ui two column row grid">
                    <div class="column">
                        <i class="large circular google plus g icon _google"></i>
                    </div>
                    <div class="column">
                        <i class="large circular instagram icon _instagram"></i>
                    </div>
                </div>
                <div class="ui two column row grid">
                    <div class="column">   
                        <i class="large circular linkedin icon _linkedin"></i>
                    </div>
                    <div class="column">
                        <i class="large circular youtube icon _google"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>