<div class="_wrapper">
    <div class="_service_content">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="row">
                    <div class="eleven wide column _content">
                        <h1 class="title_middle"><strong>About Us</strong></h1>
                        <p>Meritmates is standing tall since 2014. Hence we have enough experience to understand the expectations of the tutor from the students regarding any academic writing.</p>
                        <p>Our primary goal as a writing company is to provide a student with a promising career and life. Every one of us had also suffered through these never-ending cycles of academic assignments and we understand how daunting it looks in your shoes. That is the core reason for the foundation of this company to help you through these difficult times and secure you a successful future.</p>
                        <p>Our expert writers had completed over 2000 projects of various subjects and more than 500 live projects. They hold 5+ years of experience in all domains of the academic writing industry. Talk to us to know more about us.</p>
                        <p>Keep your eyes on the star, we elate you to reach your passion!</p>
                        <h2 class="title_middle"><strong>Features and Samples</strong></h2>
                            <p>● Priorities on deadlines: We acknowledge the importance of deadlines. We assure you of the guarantee of on-time delivery. </p>
                            <p>● Plagiarism: Your work will be check and recheck through "Turnitin" which is a common tool used by most universities in Europe for plagiarism check.</p>
                            <p>● Reading bibliography and the referencing style according to your university demands.</p>
                            <p>● Zero error content: We guarantee you that your assignments will be free of any silly spelling and grammatical errors. We understand well that a zero error content is imperative. So don't worry, your assignments are in the safe hands of the experts.</p>
                            <p>● Quality matter: We are very strict about the expected quality of the work which we provide to our beloved students. Compromise on quality is the most distant word in the dictionary of MERITMATES.</p>
                            <p>● 24*7 hours service: Our services are available for 24*7 hours in your assistance. Our services are very flexible too. You can comfortably communicate with our writers to complete your assignments.</p>
                        </div>
                    <div class="five wide column">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
