<div class="_wrapper">
    <div class="_contact_content">
        <div class="ui container">
            <!-- <div class="ui breadcrumb">
                <a class="section">Home</a>
                <i class="right angle icon divider"></i>
                <a class="section">Store</a>
                <i class="right angle icon divider"></i>
                <div class="active section">T-Shirt</div>
              </div> -->
            <div class="ui stackable grid">
                <div class="row">
                    <div class="eleven wide column _content">
                        <div class="_page_title">
                            <strong>{{content.title}}</strong>
                        </div>
                        <div class="_page_subTitle">
                            <strong>{{content.subTitle}}</strong>
                        </div>
                        <p>{{content.briefDescription}}</p>
                        <div class="ui two column stackable row grid">
                            <div class="eight wide column _contact">
                                <div class="_contact_item">
                                    <p class="_contact_mail">
                                        <a href="mailto:support@easeup.com">{{content.email}}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="eight wide column _contact">
                                <div class="_contact_item">
                                    <p class="_contact_phone">
                                        <a href="tel:+44 808 189 1999">{{content.phoneNo}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="ui stackable row grid">
                            <div class="column">
                                <p>{{content.conclusion}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
    
                    </div>
                </div>
                <div class="equal width row _prefooter">
                    <div class="column _prefooter_slider">
                        <div class="widget widget_delivery">
                            <div class="widget_title">
                                <span>On-time delivery</span>
                            </div>
                            <div class="description_text">
                                <p><strong>Timely delivery is among our core guarantees. We offer:</strong></p>
                            </div>
                            <div class="list_wrapper">
                                <ul class="list">
                                    <li>Urgent paper writing (3 hours+)</li>
                                    <li>Draft delivery upon your request</li>
                                    <li>Final paper delivery before your deadline</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="column _prefooter_slider">
                        <div class="widget widget_delivery">
                            <div class="widget_title">
                                <span>Plagiarism-Free</span>
                            </div>
                            <div class="description_text">
                                <p><strong>All papers are written from scratch and according to your unique requirements.</strong></p>
                                <p>You are entitled to request a free originality check or order an advanced Originality report option to track the similarity score.</p>
                            </div>
                        </div>
                    </div>
                    <div class="column _prefooter_slider">
                        <div class="widget widget_delivery">
                            <div class="widget_title">
                                <span>On-time delivery</span>
                            </div>
                            <div class="description_text">
                                <p><strong>Timely delivery is among our core guarantees. We offer:</strong></p>
                            </div>
                            <div class="list_wrapper">
                                <ul class="list">
                                    <li>Urgent paper writing (3 hours+)</li>
                                    <li>Draft delivery upon your request</li>
                                    <li>Final paper delivery before your deadline</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
