<div class="_wrapper">
  <div class="ui stackable grid">
    <div class="computer tablet only row _main" style="margin-bottom: 0; padding-bottom: 0;" *ngIf="!showCalculator">
      <div class="sixteen wide column _coverImg">
        <!-- <img src="./assets/cover.jpg"> -->

        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
          <!-- Overlay -->
          <div class="overlay"></div>
        
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
          </ol>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <!-- <div class="hero">
                <hgroup>
                    <h1>We are creative</h1>        
                    <h3>Get start your next awesome project</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">See all features</button>
              </div> -->
            </div>
            <div class="item slides">
              <div class="slide-2"></div>
              <!-- <div class="hero">        
                <hgroup>
                    <h1>We are smart</h1>        
                    <h3>Get start your next awesome project</h3>
                </hgroup>       
                <button class="btn btn-hero btn-lg" role="button">See all features</button>
              </div> -->
            </div>
            <div class="item slides">
              <div class="slide-3"></div>
              <!-- <div class="hero">        
                <hgroup>
                    <h1>We are amazing</h1>        
                    <h3>Get start your next awesome project</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">See all features</button>
              </div> -->
            </div>
          </div> 
        </div>


      </div>
    </div>
    <div class="computer tablet only row _main" style="margin-bottom: 0; padding-bottom: 0;" *ngIf="showCalculator">
      <div class="ten wide column _coverImg">
        <img src="./assets/cover.jpg">
      </div>
      <div class="six wide column">
        <div class="ui padded container _cal">
          <div class="row">
            <div class="column _calHeader">
              <span>PLACE AN ORDER</span>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Type of Service</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">Academic paper writing</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Academic paper writing</div>
                  <div class="item _dropdownItem">Rewriting</div>
                  <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                  <div class="item _dropdownItem">Proofreading</div>
                  <div class="item _dropdownItem">Editing</div>
                  <div class="item _dropdownItem">Copywriting</div>
                  <div class="item _dropdownItem">Admission service</div>
                  <div class="item _dropdownItem">Resume/CV Services</div>
                  <div class="item _dropdownItem">Multiple Choice Question</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Type of Paper</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">Essay</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Essay</div>
                  <div class="item _dropdownItem">Term Paper</div>
                  <div class="item _dropdownItem">Coursework</div>
                  <div class="item _dropdownItem">Research Paper</div>
                  <div class="item _dropdownItem">Book Report</div>
                  <div class="item _dropdownItem">Book Review</div>
                  <div class="item _dropdownItem">Movie Review</div>
                  <div class="item _dropdownItem">Research Summary</div>
                  <div class="item _dropdownItem">Reflectiva Writing</div>
                  <div class="item _dropdownItem">Thesis</div>
                  <div class="item _dropdownItem">Case Study</div>
                  <div class="item _dropdownItem">Lab Report</div>
                  <div class="item _dropdownItem">Powerpoint Presentation</div>
                  <div class="item _dropdownItem">Article</div>
                  <div class="item _dropdownItem">Article Critique</div>
                  <div class="item _dropdownItem">Annotated Bibliography</div>
                  <div class="item _dropdownItem">Reaction Paper</div>
                  <div class="item _dropdownItem">Project</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Paper / Words</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">12</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Academic paper writing</div>
                  <div class="item _dropdownItem">Rewriting</div>
                  <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                  <div class="item _dropdownItem">Proofreading</div>
                  <div class="item _dropdownItem">Editing</div>
                  <div class="item _dropdownItem">Copywriting</div>
                  <div class="item _dropdownItem">Admission service</div>
                  <div class="item _dropdownItem">Resume/CV Services</div>
                  <div class="item _dropdownItem">Multiple Choice Question</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Acadmeic Level</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">GCSE/ A Level</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">GCSE/ A Level</div>
                  <div class="item _dropdownItem">HNC / HND</div>
                  <div class="item _dropdownItem">Undergraduate</div>
                  <div class="item _dropdownItem">Masters</div>
                  <div class="item _dropdownItem">Doctoral</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Urgency</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">14 days</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">3 hours</div>
                  <div class="item _dropdownItem">6 hours</div>
                  <div class="item _dropdownItem">8 hours</div>
                  <div class="item _dropdownItem">12 hours</div>
                  <div class="item _dropdownItem">18 hours</div>
                  <div class="item _dropdownItem">24 hours</div>
                  <div class="item _dropdownItem">3 days</div>
                  <div class="item _dropdownItem">4 days</div>
                  <div class="item _dropdownItem">5 days</div>
                  <div class="item _dropdownItem">6 days</div>
                  <div class="item _dropdownItem">7 days</div>
                  <div class="item _dropdownItem">8 days</div>
                  <div class="item _dropdownItem">10 days</div>
                  <div class="item _dropdownItem">14 days</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem">
            <div class="column">
              <label class="_price">Price per page: <span class="_digit">$10.84</span></label>
            </div>
          </div>
          <div class="row _fieldItem _totalAmout">
            <div class="column">
              <label class="_totalPrice">Total Price:
                <span class="_totalDigit">
                  <sup>$</sup>
                  <strong>10</strong>.84
                </span>
              </label>
            </div>
          </div>
          <div class="ui row grid _fieldItem _orderbtnfield">
            <div class="eight wide column">
              <button class="ui yellow huge fluid button"><span class="_orderbtn"><strong>ORDER
                    NOW</strong></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile only row _main" style="margin-bottom: 0; padding-bottom: 0;">
      <div class="ten wide column _coverImg">
        <img src="./assets/cover.jpg">
      </div>
      <div class="six wide column">
        <div class="ui padded container _cal">
          <div class="row">
            <div class="column _calHeader">
              <span>PLACE AN ORDER</span>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Type of Service</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">Academic paper writing</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Academic paper writing</div>
                  <div class="item _dropdownItem">Rewriting</div>
                  <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                  <div class="item _dropdownItem">Proofreading</div>
                  <div class="item _dropdownItem">Editing</div>
                  <div class="item _dropdownItem">Copywriting</div>
                  <div class="item _dropdownItem">Admission service</div>
                  <div class="item _dropdownItem">Resume/CV Services</div>
                  <div class="item _dropdownItem">Multiple Choice Question</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Type of Paper</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">Essay</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Essay</div>
                  <div class="item _dropdownItem">Term Paper</div>
                  <div class="item _dropdownItem">Coursework</div>
                  <div class="item _dropdownItem">Research Paper</div>
                  <div class="item _dropdownItem">Book Report</div>
                  <div class="item _dropdownItem">Book Review</div>
                  <div class="item _dropdownItem">Movie Review</div>
                  <div class="item _dropdownItem">Research Summary</div>
                  <div class="item _dropdownItem">Reflectiva Writing</div>
                  <div class="item _dropdownItem">Thesis</div>
                  <div class="item _dropdownItem">Case Study</div>
                  <div class="item _dropdownItem">Lab Report</div>
                  <div class="item _dropdownItem">Powerpoint Presentation</div>
                  <div class="item _dropdownItem">Article</div>
                  <div class="item _dropdownItem">Article Critique</div>
                  <div class="item _dropdownItem">Annotated Bibliography</div>
                  <div class="item _dropdownItem">Reaction Paper</div>
                  <div class="item _dropdownItem">Project</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Paper / Words</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">12</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Academic paper writing</div>
                  <div class="item _dropdownItem">Rewriting</div>
                  <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                  <div class="item _dropdownItem">Proofreading</div>
                  <div class="item _dropdownItem">Editing</div>
                  <div class="item _dropdownItem">Copywriting</div>
                  <div class="item _dropdownItem">Admission service</div>
                  <div class="item _dropdownItem">Resume/CV Services</div>
                  <div class="item _dropdownItem">Multiple Choice Question</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Acadmeic Level</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">GCSE/ A Level</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">GCSE/ A Level</div>
                  <div class="item _dropdownItem">HNC / HND</div>
                  <div class="item _dropdownItem">Undergraduate</div>
                  <div class="item _dropdownItem">Masters</div>
                  <div class="item _dropdownItem">Doctoral</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Urgency</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">14 days</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">3 hours</div>
                  <div class="item _dropdownItem">6 hours</div>
                  <div class="item _dropdownItem">8 hours</div>
                  <div class="item _dropdownItem">12 hours</div>
                  <div class="item _dropdownItem">18 hours</div>
                  <div class="item _dropdownItem">24 hours</div>
                  <div class="item _dropdownItem">3 days</div>
                  <div class="item _dropdownItem">4 days</div>
                  <div class="item _dropdownItem">5 days</div>
                  <div class="item _dropdownItem">6 days</div>
                  <div class="item _dropdownItem">7 days</div>
                  <div class="item _dropdownItem">8 days</div>
                  <div class="item _dropdownItem">10 days</div>
                  <div class="item _dropdownItem">14 days</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem">
            <div class="column">
              <label class="_price">Price per page: <span class="_digit">$10.84</span></label>
            </div>
          </div>
          <div class="row _fieldItem _totalAmout">
            <div class="column">
              <label class="_totalPrice">Total Price:
                <span class="_totalDigit">
                  <sup>$</sup>
                  <strong>10</strong>.84
                </span>
              </label>
            </div>
          </div>
          <div class="ui row grid _fieldItem _orderbtnfield">
            <div class="eight wide computer tablet only column">
              <button class="ui yellow huge fluid button"><span class="_orderbtn"><strong>ORDER
                    NOW</strong></span></button>
            </div>
            <div class="fifteen wide mobile only column">
              <button class="ui yellow huge fluid button"><span class="_orderbtn"><strong>ORDER
                    NOW</strong></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" _page _welcome">

    <div class="_components _why_choose">
      <div class="ui container">
        <div class="ui equal width stackable grid">
          <div class="row ">
            <div class="center aligned column _why_choose_item">
              <div class="_why_choose_img _experts"></div>
              <div class="ui left aligned column grid">
                <strong class="_why_choose_item_title">The Best Academic Experts</strong>
                <p>We hire qualified writers, researchers and editors to ensure that each paper is plagiarism-free and
                  delivered on-time.</p>
              </div>
            </div>
            <div class="center aligned column _why_choose_item">
              <div class="_why_choose_img _fair"></div>
              <div class="ui left aligned column grid">
                <strong class="_why_choose_item_title">Fair Priced Ordering System</strong>
                <p>Our company is focused on keeping the prices as low as possible while maintaining the highest quality
                  standards.</p>
              </div>
            </div>
            <div class="center aligned column _why_choose_item">
              <div class="_why_choose_img _safe"></div>
              <div class="ui left aligned column grid">
                <strong class="_why_choose_item_title">Completely Safe and Secure</strong>
                <p>Your personal information is safely encrypted. Purchases are made through authority payment systems.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="_components">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="computer tablet only row">
            <div class="center aligned column _components_title">
              <span>How can <strong>we help</strong> students?</span>
            </div>
          </div>
          <div class="mobile only row">
            <div class="left aligned column _components_title">
              <span>How can <strong>we help</strong> students?</span>
            </div>
          </div>
          <div class="ui row grid">
            <div class="eight wide column _we_help_text">
              <img src="./assets/help_student2.jpg" />
            </div>
            <div class="eight wide column _we_help_text">
              <p>You are a student and you have no time. Indeed, time is a limited and valuable resource and there are
                so many things you won’t find a better occasion to do. We walked in those shoes, too, and that’s why UK
                Writings was launched. We are those hours lacking so badly in your schedule.</p>
              <p>We name ourselves UK Writings because we know the insides of the UK educational system and can best
                cater to its requirements. We also keep in mind that every instructor has their own expectations of what
                a well-written project is so we do everything possible to meet all the instructions. We will appreciate
                your involvement in the research and writing process as we strongly believe in the power of cooperation.
                Alternatively, we have a large pool of resources to use in case you can’t provide materials for the
                given topic.</p>
              <p>You can contact us any day and hour since our amazing team is available 24/7. Scroll to get to know us
                better!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>

    <div class="_components _customers_testimonials">
      <div class="ui container">
        <div class="ui equal width stackable grid">
          <div class="row">
            <div class="five wide column">
              <div class="_components_title">
                <span>WHAT OUR <strong class="_titleWord">CUSTOMERS SAY</strong></span>
                <p>You will get the grade you deserve without having to worry about unrealistic deadlines and without
                  having to stress yourself out to the point where you feel like giving up.&nbsp;
                  <a class="_text_link" href="#" rel="nofollow">See reviews</a></p>
              </div>
            </div>
            <div class="column">
              <div class="_customers_testimonials_item">
                <div class="_customers_testimonials_inform">
                  <div class="_customers_testimonials_user">
                    <span>Francis, Australia, Melbourne &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                    <div class="ui large star rating" data-rating="5"></div>
                  </div>
                  <div class="_customers_testimonials_order">
                    <p>Essay, Law, 6 pages, 48 hours, HNC / HND</p>
                  </div>
                </div>
                <div class="_customers_testimonials_text">
                  <p>It's so cool that I've found your service! Got a wonderful essay from you.
                    Now I'm thinking about ordering other writing assignments from you.
                    So far the best service I've ever used.</p>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="_customers_testimonials_item">
                <div class="_customers_testimonials_inform">
                  <div class="_customers_testimonials_user">
                    <span>John, USA, California, Los Angeles &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                    <div class="ui large star rating" data-rating="4"></div>
                  </div>
                  <div class="_customers_testimonials_order">
                    <p>Research Paper, Science, 11 pages, 7 days, Undergraduate</p>
                  </div>
                </div>
                <div class="_customers_testimonials_text">
                  <p>Have ordered a research paper from this service.
                    The writer made me a really nice paper and it didn't need any revisions.
                    I'm happy with the result. Definitely will order other papers from them.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="_best_essay">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="row">
            <div class="center aligned eleven wide column">
              <div class="best_essay_content">
                <span>LOOKING FOR THE BEST ESSAY HELP IN UK?
                  <img class="_flag"
                    src="./assets/flag-593cb6f825c927aa23a41f733c078b9043db3c2961eedb448021fbeeeedf8757.svg" />
                </span>
              </div>
            </div>
            <div class="center aligned five wide column">
              <button class="ui yellow huge button _customBtn">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="_components _features_samples">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="row">
            <div class="left aligned five wide column _features_block">
              <div class="_components_title">
                <span>Guaranted <br>
                  <strong>features</strong>
                </span>
              </div>
              <div class="_features_img">
                <img src="./assets/features-d1dd3caf1fa67dc881c9cc599ab49a19ac1e208a5051a2725e6b7f6e09226888.png" />
              </div>
              <div class="_features_content">
                <ul class="features_block_list">
                  <li>Limitless Amendments</li>
                  <li>Bibliography</li>
                  <li>Outline</li>
                </ul>
                <ul class="features_block_list">
                  <li>Title page</li>
                  <li>Formatting</li>
                  <li>Plagiarism Report</li>
                </ul>
              </div>
              <div class="get_all">
                <div class="ui computer and mobile only center aligned column grid">
                  <a class="_btn" href=""><strong>Get all</strong><span>&nbsp;THESE FEATURES</span></a>
                </div>
                <div class="ui tablet only column grid">
                  <a class="_btn _mobile" href="#"><strong>Get all</strong><span>&nbsp;THESE FEATURES</span></a>
                </div>
              </div>
            </div>
            <div class="one wide computer only column"></div>
            <div class="ten wide column _samples_block">
              <div class="_components_title">
                <span>
                  OUR
                  <strong>SAMPLES</strong>
                </span>
                <a class="_link_arrow" href="/samples">See all</a>
              </div>
              <div class="_sample_block_content">
                <div class="ui grid">
                  <div class="row">
                    <div class="five wide computer only column">
                      <div class="_sample_img">
                        <img
                          src="./assets/samples_doc-b47c8242c7628fbf81a699747abe17fed61711df2980a2f77a5d8df5efb03a86.jpg" />
                      </div>
                    </div>
                    <div class="one wide computer only column"></div>
                    <div class="ten wide computer sixteen wide mobile sixteen wide tablet column">
                      <div class="ui grid">
                        <div class="two column row">
                          <div class="four wide mobile and tablet only column">
                            <img
                              src="./assets/document-414-38ac4f251bb01d59c2e8f3e7623bf443966b0b8404f5e227938d96918b14a0d2.svg" />
                          </div>
                          <div class="sixteen wide computer twelve wide mobile twelve wide tablet column">
                            <div class="_sample_block_content_header">
                              <strong>IT Strategic Planning</strong><br />
                              <span>#Term Paper</span>
                            </div>
                          </div>
                        </div>
                        <div class="equal width row">
                          <div class="column">
                            <div class="_sample_block_list">
                              <ul>
                                <li>Number of page <strong>4</strong></li>
                                <li>Urgency <strong>3 days</strong></li>
                                <li>Academic level <strong><a href="#" rel="nofollow">Master's</a></strong></li>
                              </ul>
                            </div>
                          </div>
                          <div class="column">
                            <div class="_sample_block_list">
                              <ul>
                                <li>Subject area <strong><a href="#" rel="nofollow">IT</a></strong></li>
                                <li>Style <strong><a href="#" rel="nofollow">APA</a></strong></li>
                                <li>Number of sources <strong>4</strong></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="column">
                            <div class="_order_paper">
                              <a class="_btn" href="#" rel="nofollow">
                                <span>Order paper</span>
                                <span>&nbsp;like this for only&nbsp;</span>
                                <strong>£96.52</strong>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="_sample_block_content">
                <div class="ui grid">
                  <div class="row">
                    <div class="five wide computer only column">
                      <div class="_sample_img">
                        <img
                          src="./assets/samples_doc-b47c8242c7628fbf81a699747abe17fed61711df2980a2f77a5d8df5efb03a86.jpg" />
                      </div>
                    </div>
                    <div class="one wide computer only column"></div>
                    <div class="ten wide computer sixteen wide mobile sixteen wide tablet column">
                      <div class="ui grid">
                        <div class="two column row">
                          <div class="four wide mobile and tablet only column">
                            <img
                              src="./assets/document-414-38ac4f251bb01d59c2e8f3e7623bf443966b0b8404f5e227938d96918b14a0d2.svg" />
                          </div>
                          <div class="sixteen wide computer twelve wide mobile twelve wide tablet column">
                            <div class="_sample_block_content_header">
                              <strong>Integrated Marketing Communication</strong><br />
                              <span>#Research Paper</span>
                            </div>
                          </div>
                        </div>
                        <div class="equal width row">
                          <div class="column">
                            <div class="_sample_block_list">
                              <ul>
                                <li>Number of page <strong>5</strong></li>
                                <li>Urgency <strong>7 days</strong></li>
                                <li>Academic level <strong><a href="#" rel="nofollow">Master's</a></strong></li>
                              </ul>
                            </div>
                          </div>
                          <div class="column">
                            <div class="_sample_block_list">
                              <ul>
                                <li>Subject area <strong><a href="#" rel="nofollow">Management</a></strong></li>
                                <li>Style <strong><a href="#" rel="nofollow">Harvard</a></strong></li>
                                <li>Number of sources <strong>12</strong></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="column">
                            <div class="_order_paper">
                              <a class="_btn" href="#" rel="nofollow">
                                <span>Order paper</span>
                                <span>&nbsp;like this for only&nbsp;</span>
                                <strong>£96.52</strong>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="_components _stats">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="equal width row">
            <div class="column">
              <div class="ui row grid">
                <div class="five wide column">
                  <img
                    src="./assets/img_customers-38254123a0c427c62626e60181bcbdfb761915ed0a4e692596070ed7b8408bc8.svg" />
                </div>
                <div class="eleven wide column">
                  <p>Hello</p>
                </div>
              </div>

            </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="ui container">
      <div class="ui row grid _info_block">
        <div class="eleven wide computer sixteen wide mobile sixteen wide tablet column _info_content">
          <h1>The Best Essay Writing Service in the India</h1>
          <p>We created a dynamic and flexible system that allows students from all over the India and beyond to find an
            expert to do their tiresome writing assignments. The writers in our team are certified professionals,
            each holding a degree in one or more of the subjects listed in the order form. We cooperate with former
            students of the Indian universities to better understand the needs of our clients and the demands of the
            educational system. So whenever you turn to us with whatever writing-related emergency, there is always
            someone to help you.</p>
          <p>We are proud to have students from London, Manchester, Glasgow, Belfast, Cardiff, Dublin, Bristol,
            Coventry and Brighton among our friends and loyal customers.</p>
          <p>With us, you get effective and timely help and win the twin-advantage of being excellent in both academic
            and personal life.</p>
          <div class="ui row grid">
            <div class="two wide computer three wide mobile two wide tablet column">
              <img src="./assets/folder_img-450fad152152102d018c757f9f90fb95ed5302932e7bcd27218d3df947d5e1e4.svg" />
            </div>
            <div class="fourteen wide computer thirteen wide mobile fourteen wide tablet column">
              <h2 class="title_img img_folder">The Types of Papers and<br>
                Subjects We Cover</h2>
            </div>
          </div>
          <p>Here is the list of top popular subjects we get orders for. Find yours or contact us if you seek an
            online essay help with something not listed here. Remember, thoughts and imagination are the only real
            limits to one’s possibilities:</p>
          <div class="ui centered row stackable grid _list_wrapper">
            <div class="seven wide column">
              <div class="ui relaxed list _item_list">
                <div class="item _custom_item">
                  <a href="#" title="English essay help">English Language</a>
                </div>
                <div class="item _custom_item">
                  Literature
                </div>
                <div class="item _custom_item">
                  <a href="#" title="history essay help">History</a>
                </div>
                <div class="item _custom_item">
                  Geography
                </div>
                <div class="item _custom_item">
                  Psychology
                </div>
                <div class="item _custom_item">
                  <a href="#" title="sociology essay help">Sociology</a>
                </div>
                <div class="item _custom_item">
                  Religion
                </div>
                <div class="item _custom_item">
                  Science
                </div>
                <div class="item _custom_item">
                  Mathematics and Statistics
                </div>
                <div class="item _custom_item">
                  Art
                </div>
              </div>
            </div>
            <div class="seven wide column">
              <div class="ui relaxed list _item_list">
                <div class="item _custom_item">
                  <a href="#" title="nursing essay help">Medicine and Nursing</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="law essay help">Law</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="MBA essay help">Business Studies</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="finance essay help">Finance</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="economic essay help">Economic</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="hrm essay help">HRM</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="marketing essay help">Marketing</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="management essay help">Management</a>
                </div>
                <div class="item _custom_item">
                  Engineering
                </div>
              </div>
            </div>
          </div>
          <p>We can help with any paper type. Here is the list of most requested ones. If you don’t see the one you
            need, please contact us.</p>
          <div class="ui centered row stackable grid _list_wrapper">
            <div class="seven wide column">
              <div class="ui relaxed list _item_list">
                <div class="item _custom_item">
                  <a href="#" title="dissertation writing services">Dissertations</a>
                </div>
                <div class="item _custom_item">
                  Thesis proposals and writing
                </div>
                <div class="item _custom_item">
                  <a href="/admission-service" title="admission essay services">Admissions essays</a>
                </div>
                <div class="item _custom_item">
                  Argumentative essays
                </div>
                <div class="item _custom_item">
                  Cause and effect essays
                </div>
                <div class="item _custom_item">
                  Literary critiques
                </div>
              </div>
            </div>
            <div class="seven wide column">
              <div class="ui relaxed list _item_list">
                <div class="item _custom_item">
                  Personal essays
                </div>
                <div class="item _custom_item">
                  Descriptive essays
                </div>
                <div class="item _custom_item">
                  Lab reports
                </div>
                <div class="item _custom_item">
                  Mathematical and scientific calculations,<br>
                  data analysis and theoretical essays
                </div>
                <div class="item _custom_item">
                  Case studies
                </div>
              </div>
            </div>
          </div>
          <p>Personalisation is another word for what we do. All papers are written from scratch, there are no
            templates and we regularly update our library to ensure a unique text every time.</p>
          <div class="ui row grid">
            <div class="two wide computer three wide mobile two wide tablet column">
              <img src="./assets/writer_img-5d7f84a5acdbf919e1fc599b9e0782d06c840e6278d3ecd4091bf7b9e25ee271.svg" />
            </div>
            <div class="fourteen wide computer thirteen wide mobile thirteen wide tablet column">
              <h2 class="title_img img_folder">Meet Our Writers</h2>
            </div>
          </div>
          <p>Time to meet the people behind the indian Writings logo! Our writers are the engine running our system and
            also the ones that you, dear clients, talk to most frequently here. So we treat the process of writer
            assigning with the utmost care.</p>
          <p>Everyone within our indian essay writing team is an expert in their chosen field and they have the
            corresponding credentials to prove it. We give priority to writers originating from the India. All the
            candidates pass our English test that puts a special emphasis on grammar and spelling as well as a
            text’s integrity and readability. The freshmen who successfully completed the test and verifications
            start their internal probation upon completion of which they get to work with the clients.</p>
          <p>As of today we have delivered dozens of thousands of excellent papers to students from the India and
            beyond.
            Well, you must have already checked the customers’ reviews, have you not?</p>
          <div class="ui row grid">
            <div class="two wide computer three wide mobile two wide tablet column">
              <img
                src="./assets/support_img-0883987a39de18e98b3e6eba4bc4ef08bb85d28d7fccd68d4c9f7083b2524603.svg" />
            </div>
            <div class="fourteen wide computer thirteen wide mobile fourteen wide tablet column">
              <h2 class="title_img img_folder">Continuous Support – We <br>Are
                Here When You Need Us!</h2>
            </div>
          </div>
          <p>While your writer might not be able to answer you instantly, our fantastic support team is online 24/7
            all year round. One of the agents will hear you out and offer an effective solution or suggest
            actionable advice. They are the first place to go if you have trouble placing an order or want to know
            your order status. Need to discuss your existing order? Looking for something that is not listed on the
            website and/or in the order form? Interested in the working process? Don’t hesitate to get in touch
            using phone or live chat.</p>
        </div>
        <div class="five wide computer sixteen wide mobile sixteen wide tablet column" id="example1">
          <div class="ui sticky">
            <div class="_widget">
              <div class="ui center aligned computer only row grid">
                <div class="column">
                  <div class="_widget_title">
                    <span>The Best Price Offers You've Seen</span>
                  </div>
                </div>
              </div>
              <div class="ui left aligned mobile and tablet only row grid">
                <div class="column">
                  <div class="_widget_title">
                    <span>The Best Price Offers You've Seen</span>
                  </div>
                </div>
              </div>
              <div class="ui row grid _customWidget">
                <div class="column">
                  <div class="_widget_price">
                    <div class="ui two column row grid">
                      <div class="row">
                        <div class="column">
                          <strong class="_widget_subtitle">Best paper prices</strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="eleven wide column">
                          <p>Proofreading</p>
                          <p>Copywriting</p>
                          <p>Dissertation services</p>
                          <p>Editing</p>
                          <p>Rewriting</p>
                          <p>Academic paper writing</p>
                        </div>
                        <div class="five wide column">
                          <p><strong><span>£5.34</span><strong></strong></strong></p>
                          <p><strong><span>£19.07</span></strong></p>
                          <p><strong><span>£13.73</span></strong></p>
                          <p><strong><span>£3.8</span></strong></p>
                          <p><strong><span>£9.15</span></strong></p>
                          <p><strong><span>£11.44</span></strong></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="column">
                          <strong class="_widget_subtitle">Security &amp; Payments</strong>
                        </div>
                      </div>
                      <div class="lefted row">
                        <div class="seven wide column">
                          <div class="_charge_badges">
                            <img
                              src="./assets/badge_charges2-e063e12f64521284ccf7ea7fe0c8d784befeb750d56a477281bdc2d39a737aa1.svg" />
                          </div>
                        </div>
                        <div class="nine wide column">
                          <div class="_charge_money">
                            <img
                              src="./assets/badge_guarantee2-046a57f24763ce42c41b3015e1fc8a9fb837bdbebed5082ef89157c1137f7883.svg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="ui row grid">
                        <div class="column">
                            <p>EaSeUP guarantee the privacy of all the customers and never share their personal information with third parties. For more details read our Privacy Policy.</p>
                        </div>
                    </div> -->
              <div class="ui equal width relaxed justified row grid">
                <div class="column _visa">
                  <img src="./assets/visa-5e1db0ef033bc34d35a62fe6a04832ac4c71415378737d09e2df989464ceeea1.svg" />
                </div>
                <div class="column _mastercard">
                  <img
                    src="./assets/mastercard-5ed368eb439bfe9a6552c8908eb93d49aa746bc9599e466b9fc1e378a2d19f5f.svg" />
                </div>
                <div class="column _americanexpress">
                  <img
                    src="./assets//american_express-eededc67b658b737459f223dc0240bc85481ab0f9ad3a7f1b1f1cb47e5ef940e.svg" />
                </div>
                <div class="column">
                  <img
                    src="./assets/discover-dark-6fdec172e303bfbd0450378618f244895e64efbc584bfb4503cb011ba922ac65.svg" />
                </div>
                <div class="column _wiretransfer">
                  <img
                    src="./assets//wire-transfer-4c700f5ac5faa87347d8c0ce04ecab9011fea3a2f2d561e73c6a737d9b8cf5e9.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui row grid">
          <div class="center aligned sixteen wide column">
            <button class="ui yellow huge button _customBtnLast">ORDER NOW</button>
          </div>
      </div>
      </div>
    </div>


  </div>
</div>