<div class="_wrapper" #target>
  <div class="ui stackable grid">
    <div class="_openCalBtn">
      <h2 (click)="toggleCal(target)"> Enquire Now</h2>
    </div>
    <div class="computer tablet only row _main" style="margin-bottom: 0; padding-bottom: 0;" *ngIf="!showCalculator">
      <div class="sixteen wide column _coverImg">
        <!-- <img src="./assets/cover.jpg"> -->

        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
          <!-- Overlay -->
          <div class="overlay"></div>
        
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
          </ol>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <!-- <div class="hero">
                <hgroup>
                    <h1>We are creative</h1>        
                    <h3>Get start your next awesome project</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">See all features</button>
              </div> -->
            </div>
            <div class="item slides">
              <div class="slide-2"></div>
              <!-- <div class="hero">        
                <hgroup>
                    <h1>We are smart</h1>        
                    <h3>Get start your next awesome project</h3>
                </hgroup>       
                <button class="btn btn-hero btn-lg" role="button">See all features</button>
              </div> -->
            </div>
            <div class="item slides">
              <div class="slide-3"></div>
              <!-- <div class="hero">        
                <hgroup>
                    <h1>We are amazing</h1>        
                    <h3>Get start your next awesome project</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">See all features</button>
              </div> -->
            </div>
          </div> 
        </div>


      </div>
    </div>
    <div class="computer tablet only row _main" style="margin-bottom: 0; padding-bottom: 0;" *ngIf="showCalculator">
      <div class="ten wide column _coverImg">
        <img src="./assets/cover.jpg">
      </div>
      <div class="six wide column">
        <div class="ui padded container _cal">
          <div class="row">
            <div class="column _calHeader">
              <span>PLACE AN ORDER</span>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Type of Service</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">Academic paper writing</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Academic paper writing</div>
                  <div class="item _dropdownItem">Rewriting</div>
                  <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                  <div class="item _dropdownItem">Proofreading</div>
                  <div class="item _dropdownItem">Editing</div>
                  <div class="item _dropdownItem">Copywriting</div>
                  <div class="item _dropdownItem">Admission service</div>
                  <div class="item _dropdownItem">Resume/CV Services</div>
                  <div class="item _dropdownItem">Multiple Choice Question</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Type of Paper</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">Essay</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Essay</div>
                  <div class="item _dropdownItem">Term Paper</div>
                  <div class="item _dropdownItem">Coursework</div>
                  <div class="item _dropdownItem">Research Paper</div>
                  <div class="item _dropdownItem">Book Report</div>
                  <div class="item _dropdownItem">Book Review</div>
                  <div class="item _dropdownItem">Movie Review</div>
                  <div class="item _dropdownItem">Research Summary</div>
                  <div class="item _dropdownItem">Reflectiva Writing</div>
                  <div class="item _dropdownItem">Thesis</div>
                  <div class="item _dropdownItem">Case Study</div>
                  <div class="item _dropdownItem">Lab Report</div>
                  <div class="item _dropdownItem">Powerpoint Presentation</div>
                  <div class="item _dropdownItem">Article</div>
                  <div class="item _dropdownItem">Article Critique</div>
                  <div class="item _dropdownItem">Annotated Bibliography</div>
                  <div class="item _dropdownItem">Reaction Paper</div>
                  <div class="item _dropdownItem">Project</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Paper / Words</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">12</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Academic paper writing</div>
                  <div class="item _dropdownItem">Rewriting</div>
                  <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                  <div class="item _dropdownItem">Proofreading</div>
                  <div class="item _dropdownItem">Editing</div>
                  <div class="item _dropdownItem">Copywriting</div>
                  <div class="item _dropdownItem">Admission service</div>
                  <div class="item _dropdownItem">Resume/CV Services</div>
                  <div class="item _dropdownItem">Multiple Choice Question</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Acadmeic Level</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">GCSE/ A Level</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">GCSE/ A Level</div>
                  <div class="item _dropdownItem">HNC / HND</div>
                  <div class="item _dropdownItem">Undergraduate</div>
                  <div class="item _dropdownItem">Masters</div>
                  <div class="item _dropdownItem">Doctoral</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Urgency</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">14 days</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">3 hours</div>
                  <div class="item _dropdownItem">6 hours</div>
                  <div class="item _dropdownItem">8 hours</div>
                  <div class="item _dropdownItem">12 hours</div>
                  <div class="item _dropdownItem">18 hours</div>
                  <div class="item _dropdownItem">24 hours</div>
                  <div class="item _dropdownItem">3 days</div>
                  <div class="item _dropdownItem">4 days</div>
                  <div class="item _dropdownItem">5 days</div>
                  <div class="item _dropdownItem">6 days</div>
                  <div class="item _dropdownItem">7 days</div>
                  <div class="item _dropdownItem">8 days</div>
                  <div class="item _dropdownItem">10 days</div>
                  <div class="item _dropdownItem">14 days</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem">
            <div class="column">
              <label class="_price">Price per page: <span class="_digit">$10.84</span></label>
            </div>
          </div>
          <div class="row _fieldItem _totalAmout">
            <div class="column">
              <label class="_totalPrice">Total Price:
                <span class="_totalDigit">
                  <sup>$</sup>
                  <strong>10</strong>.84
                </span>
              </label>
            </div>
          </div>
          <div class="ui row grid _fieldItem _orderbtnfield">
            <div class="eight wide column">
              <button class="ui yellow huge fluid button" (click)="proceedForInfo()"><span class="_orderbtn"><strong>ORDER
                    NOW</strong></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile only row _main" style="margin-bottom: 0; padding-bottom: 0;">
      <div class="ten wide column _coverImg">
        <img src="./assets/cover.jpg">
      </div>
      <div class="six wide column">
        <div class="ui padded container _cal">
          <div class="row">
            <div class="column _calHeader">
              <span>PLACE AN ORDER</span>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Type of Service</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">Academic paper writing</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Academic paper writing</div>
                  <div class="item _dropdownItem">Rewriting</div>
                  <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                  <div class="item _dropdownItem">Proofreading</div>
                  <div class="item _dropdownItem">Editing</div>
                  <div class="item _dropdownItem">Copywriting</div>
                  <div class="item _dropdownItem">Admission service</div>
                  <div class="item _dropdownItem">Resume/CV Services</div>
                  <div class="item _dropdownItem">Multiple Choice Question</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Type of Paper</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">Essay</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Essay</div>
                  <div class="item _dropdownItem">Term Paper</div>
                  <div class="item _dropdownItem">Coursework</div>
                  <div class="item _dropdownItem">Research Paper</div>
                  <div class="item _dropdownItem">Book Report</div>
                  <div class="item _dropdownItem">Book Review</div>
                  <div class="item _dropdownItem">Movie Review</div>
                  <div class="item _dropdownItem">Research Summary</div>
                  <div class="item _dropdownItem">Reflectiva Writing</div>
                  <div class="item _dropdownItem">Thesis</div>
                  <div class="item _dropdownItem">Case Study</div>
                  <div class="item _dropdownItem">Lab Report</div>
                  <div class="item _dropdownItem">Powerpoint Presentation</div>
                  <div class="item _dropdownItem">Article</div>
                  <div class="item _dropdownItem">Article Critique</div>
                  <div class="item _dropdownItem">Annotated Bibliography</div>
                  <div class="item _dropdownItem">Reaction Paper</div>
                  <div class="item _dropdownItem">Project</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Paper / Words</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">12</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">Academic paper writing</div>
                  <div class="item _dropdownItem">Rewriting</div>
                  <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                  <div class="item _dropdownItem">Proofreading</div>
                  <div class="item _dropdownItem">Editing</div>
                  <div class="item _dropdownItem">Copywriting</div>
                  <div class="item _dropdownItem">Admission service</div>
                  <div class="item _dropdownItem">Resume/CV Services</div>
                  <div class="item _dropdownItem">Multiple Choice Question</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Acadmeic Level</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">GCSE/ A Level</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">GCSE/ A Level</div>
                  <div class="item _dropdownItem">HNC / HND</div>
                  <div class="item _dropdownItem">Undergraduate</div>
                  <div class="item _dropdownItem">Masters</div>
                  <div class="item _dropdownItem">Doctoral</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem _dropdownFieldItem">
            <div class="column">
              <label>Urgency</label>
              <div class="ui fluid scrolling selection dropdown _customDropdown">
                <input type="hidden" name="gender">
                <div class="default text">14 days</div>
                <i class="dropdown icon _dropdownIcon"></i>
                <div class="menu _dropdownMenu">
                  <div class="item _dropdownItem">3 hours</div>
                  <div class="item _dropdownItem">6 hours</div>
                  <div class="item _dropdownItem">8 hours</div>
                  <div class="item _dropdownItem">12 hours</div>
                  <div class="item _dropdownItem">18 hours</div>
                  <div class="item _dropdownItem">24 hours</div>
                  <div class="item _dropdownItem">3 days</div>
                  <div class="item _dropdownItem">4 days</div>
                  <div class="item _dropdownItem">5 days</div>
                  <div class="item _dropdownItem">6 days</div>
                  <div class="item _dropdownItem">7 days</div>
                  <div class="item _dropdownItem">8 days</div>
                  <div class="item _dropdownItem">10 days</div>
                  <div class="item _dropdownItem">14 days</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row _fieldItem">
            <div class="column">
              <label class="_price">Price per page: <span class="_digit">$10.84</span></label>
            </div>
          </div>
          <div class="row _fieldItem _totalAmout">
            <div class="column">
              <label class="_totalPrice">Total Price:
                <span class="_totalDigit">
                  <sup>$</sup>
                  <strong>10</strong>.84
                </span>
              </label>
            </div>
          </div>
          <div class="ui row grid _fieldItem _orderbtnfield">
            <div class="fifteen wide mobile only column">
              <button class="ui yellow huge fluid button" (click)="proceedForInfo()"><span class="_orderbtn"><strong>ORDER
                    NOW</strong></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" _page _welcome">

    <div class="_components _why_choose">
      <div class="ui container">
        <div class="ui equal width stackable grid">
          <div class="row ">
            <div class="center aligned column _why_choose_item">
              <div class="_why_choose_img _experts" data-aos="zoom-in"></div>
              <div class="ui left aligned column grid" data-aos="fade-right">
                <strong class="_why_choose_item_title">The Best Academic Experts</strong>
                <p>We hire qualified writers, researchers and editors to ensure that each paper is plagiarism-free and
                  delivered on-time.</p>
              </div>
            </div>
            <div class="center aligned column _why_choose_item">
              <div class="_why_choose_img _fair" data-aos="zoom-in"></div>
              <div class="ui left aligned column grid" data-aos="fade-right">
                <strong class="_why_choose_item_title">Fair Priced Ordering System</strong>
                <p>Our company is focused on keeping the prices as low as possible while maintaining the highest quality
                  standards.</p>
              </div>
            </div>
            <div class="center aligned column _why_choose_item">
              <div class="_why_choose_img _safe" data-aos="zoom-in"></div>
              <div class="ui left aligned column grid" data-aos="fade-right">
                <strong class="_why_choose_item_title">Completely Safe and Secure</strong>
                <p>Your personal information is safely encrypted. Purchases are made through authority payment systems.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="_components">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="computer tablet only row">
            <div class="center aligned column _components_title">
              <span>How can <strong>we help</strong> You?</span>
            </div>
          </div>
          <div class="mobile only row">
            <div class="left aligned column _components_title">
              <span>How can <strong>we help</strong> You?</span>
            </div>
          </div>
          <div class="ui row grid">
            <div class="eight wide column _we_help_text" data-aos="zoom-in">
              <img src="./assets/help_student6.jpg" />
            </div>
            <div class="eight wide column _we_help_text" data-aos="fade-left">
              <p>It's easier to get overwhelmed by the number of assignments a student needs to complete over his/her time during graduating years and we completely understand the distress to submit the same amount of assignments before the strict deadlines.</p>
              <p>Your grades are important as it will have a rippling effect to your entire student life and beyond. Our only goal as a writing service is to help you achieve those desired grades.
                Our USP's includes,
                A better understanding of our client requirements and provide them a comfortable environment to communicate with our writers. Our experts will do the best research work before initiating the project and we ensure unique text writing, on-time delivery at an affordable cost.
                Our aim lies at 100% satisfaction from the clients. Our team of writing experts does not rest until you are 100% satisfied with writing. A satisfied client is our business strategy.
                You are one call away to achieve your academic goals!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>

    <div class="_components _customers_testimonials">
      <div class="ui container">
        <div class="ui equal width stackable grid">
          <div class="row">
            <!-- <div class="five wide column">
              <div class="_components_title">
                <span>WHAT OUR <strong class="_titleWord">CUSTOMERS SAY</strong></span>
                <p>You will get the grade you deserve without having to worry about unrealistic deadlines and without
                  having to stress yourself out to the point where you feel like giving up.&nbsp;
                  <a class="_text_link" href="#" rel="nofollow">See reviews</a></p>
              </div>
            </div> -->
            <div class="column" data-aos="zoom-in">
              <ngx-slick-carousel class="carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let data of testimonies;" class="slide">
                  <div class="_customers_testimonials_item">
                    <div class="_customers_testimonials_inform">
                      <div class="_customers_testimonials_user">
                        <span>Francis, Australia, Melbourne &nbsp; &nbsp; &nbsp;</span>
                        <div class="ui large star rating" data-rating="5"></div>
                      </div>
                      <div class="_customers_testimonials_order">
                        <p>Essay, Law, 6 pages, 48 hours, HNC / HND</p>
                      </div>
                    </div>
                    <div class="_customers_testimonials_text">
                      <p>{{data?.comment}}</p>
                    </div>
                  </div>
                </div>
                </ngx-slick-carousel>
              
            </div>
            <!-- <div class="column">
              <div class="_customers_testimonials_item">
                <div class="_customers_testimonials_inform">
                  <div class="_customers_testimonials_user">
                    <span>John, USA, California, Los Angeles &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                    <div class="ui large star rating" data-rating="4"></div>
                  </div>
                  <div class="_customers_testimonials_order">
                    <p>Research Paper, Science, 11 pages, 7 days, Undergraduate</p>
                  </div>
                </div>
                <div class="_customers_testimonials_text">
                  <p>Have ordered a research paper from this service.
                    The writer made me a really nice paper and it didn't need any revisions.
                    I'm happy with the result. Definitely will order other papers from them.</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>

    </div>

    <div class="_best_essay">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="row">
            <div class="center aligned eleven wide column">
              <div class="best_essay_content" data-aos="fade-left">
                <span>LOOKING FOR THE BEST ESSAY HELP IN INDIA?
                  <img class="_flag"
                    src="./assets/flag-593cb6f825c927aa23a41f733c078b9043db3c2961eedb448021fbeeeedf8757.svg" />
                </span>
              </div>
            </div>
            <div class="center aligned five wide column">
              <button class="ui yellow huge button _customBtn">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="_components _features_samples">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="row">
            <div class="left aligned five wide column _features_block">
              <div class="_components_title">
                <span>Guaranted <br>
                  <strong>features</strong>
                </span>
              </div>
              <div class="_features_img">
                <img src="./assets/features-d1dd3caf1fa67dc881c9cc599ab49a19ac1e208a5051a2725e6b7f6e09226888.png" />
              </div>
              <div class="_features_content">
                <ul class="features_block_list">
                  <li>Priorities on deadlines</li>
                  <li> Plagiarism</li>
                  <li>Zero error content</li>
                </ul>
                <ul class="features_block_list">
                  <li>Quality matter</li>
                  <li>24*7 hours service</li>
                </ul>
              </div>
              <div class="get_all">
                <div class="ui computer and mobile only center aligned column grid">
                  <a class="_btn" href=""><strong>Get all</strong><span>&nbsp;THESE FEATURES</span></a>
                </div>
                <div class="ui tablet only column grid">
                  <a class="_btn _mobile" href="#"><strong>Get all</strong><span>&nbsp;THESE FEATURES</span></a>
                </div>
              </div>
            </div>
            <div class="one wide computer only column"></div>
            <div class="ten wide column _samples_block">
              <div class="_components_title">
                <span>
                  OUR
                  <strong>SAMPLES</strong>
                </span>
                <a class="_link_arrow">See all</a>
              </div>
              <div class="_sample_block_content">
                <div class="ui grid">
                  <div class="row">
                    <div class="five wide computer only column">
                      <div class="_sample_img">
                        <img
                          src="./assets/samples_doc-b47c8242c7628fbf81a699747abe17fed61711df2980a2f77a5d8df5efb03a86.jpg" />
                      </div>
                    </div>
                    <div class="one wide computer only column"></div>
                    <div class="ten wide computer sixteen wide mobile sixteen wide tablet column">
                      <div class="ui grid">
                        <div class="two column row">
                          <div class="four wide mobile and tablet only column">
                            <img
                              src="./assets/document-414-38ac4f251bb01d59c2e8f3e7623bf443966b0b8404f5e227938d96918b14a0d2.svg" />
                          </div>
                          <div class="sixteen wide computer twelve wide mobile twelve wide tablet column">
                            <div class="_sample_block_content_header">
                              <strong>IT Strategic Planning</strong><br />
                              <span>#Term Paper</span>
                            </div>
                          </div>
                        </div>
                        <div class="equal width row">
                          <div class="column">
                            <div class="_sample_block_list">
                              <ul>
                                <li>Number of page <strong>4</strong></li>
                                <li>Urgency <strong>3 days</strong></li>
                                <li>Academic level <strong><a href="#" rel="nofollow">Master's</a></strong></li>
                              </ul>
                            </div>
                          </div>
                          <div class="column">
                            <div class="_sample_block_list">
                              <ul>
                                <li>Subject area <strong><a href="#" rel="nofollow">IT</a></strong></li>
                                <li>Style <strong><a href="#" rel="nofollow">APA</a></strong></li>
                                <li>Number of sources <strong>4</strong></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="column">
                            <div class="_order_paper">
                              <a class="_btn" href="#" rel="nofollow">
                                <span>Order paper</span>
                                <span>&nbsp;like this for only&nbsp;</span>
                                <strong>£96.52</strong>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="_sample_block_content">
                <div class="ui grid">
                  <div class="row">
                    <div class="five wide computer only column">
                      <div class="_sample_img">
                        <img
                          src="./assets/samples_doc-b47c8242c7628fbf81a699747abe17fed61711df2980a2f77a5d8df5efb03a86.jpg" />
                      </div>
                    </div>
                    <div class="one wide computer only column"></div>
                    <div class="ten wide computer sixteen wide mobile sixteen wide tablet column">
                      <div class="ui grid">
                        <div class="two column row">
                          <div class="four wide mobile and tablet only column">
                            <img
                              src="./assets/document-414-38ac4f251bb01d59c2e8f3e7623bf443966b0b8404f5e227938d96918b14a0d2.svg" />
                          </div>
                          <div class="sixteen wide computer twelve wide mobile twelve wide tablet column">
                            <div class="_sample_block_content_header">
                              <strong>Integrated Marketing Communication</strong><br />
                              <span>#Research Paper</span>
                            </div>
                          </div>
                        </div>
                        <div class="equal width row">
                          <div class="column">
                            <div class="_sample_block_list">
                              <ul>
                                <li>Number of page <strong>5</strong></li>
                                <li>Urgency <strong>7 days</strong></li>
                                <li>Academic level <strong><a href="#" rel="nofollow">Master's</a></strong></li>
                              </ul>
                            </div>
                          </div>
                          <div class="column">
                            <div class="_sample_block_list">
                              <ul>
                                <li>Subject area <strong><a href="#" rel="nofollow">Management</a></strong></li>
                                <li>Style <strong><a href="#" rel="nofollow">Harvard</a></strong></li>
                                <li>Number of sources <strong>12</strong></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="column">
                            <div class="_order_paper">
                              <a class="_btn" href="#" rel="nofollow">
                                <span>Order paper</span>
                                <span>&nbsp;like this for only&nbsp;</span>
                                <strong>£96.52</strong>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="_components _stats">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="equal width row">
            <div class="column">
              <div class="ui row grid">
                <div class="five wide column">
                  <img
                    src="./assets/img_customers-38254123a0c427c62626e60181bcbdfb761915ed0a4e692596070ed7b8408bc8.svg" />
                </div>
                <div class="eleven wide column">
                  <p>Hello</p>
                </div>
              </div>

            </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="ui container">
      <div class="ui row grid _info_block">
        <div class="eleven wide computer sixteen wide mobile sixteen wide tablet column _info_content">
          <h1 data-aos="fade-right">What do we do</h1>
          <p>On the trade of busy life, completing your assignments is not an easy task. There might be a crucial occasion you need to show up to, you are short on the time department, or any present issue looming over you or your relations. We are here to fulfill your wish. Meritmates help students or graduates to reduce the assignment burden.</p>
          <p>You understand your problems well. Our services will help you in achieving the desired grade. Yes! We are here to help you at every stage of your assignments. Register us to get our plagiarism-free services. If you are in the halfway of assignment, do not worry – we will finish them too.</p>
          <p>We'll help you to complete your essays and projects with high-grade quality and guarantee you to complete them within unrealistic deadlines with our pool of experts who are graduated and PH.Ds holders in their respective fields of specialization.</p>
          <p>You need not worry about your lengthy research works. We will take care of it for you. All you need to do is to make your requirements ready.</p>
          <p>Meritmates had consistently outperformed every other writing service over the past 5 years and we will continue to do so in the future.</p>
          <div class="ui row grid">
            <div class="two wide computer three wide mobile two wide tablet column" data-aos="fade-right">
              <img src="./assets/folder_img-450fad152152102d018c757f9f90fb95ed5302932e7bcd27218d3df947d5e1e4.svg" />
            </div>
            <div class="fourteen wide computer thirteen wide mobile fourteen wide tablet column">
              <h2 class="title_img img_folder" data-aos="fade-left">The Types of Papers and<br>
                Subjects We Cover</h2>
            </div>
          </div>
          <p>Here is the list of top popular subjects we get orders for. Find yours or contact us if you seek an
            online essay help with something not listed here. Remember, thoughts and imagination are the only real
            limits to one’s possibilities:</p>
          <div class="ui centered row stackable grid _list_wrapper">
            <div class="seven wide column" data-aos="fade-right">
              <div class="ui relaxed list _item_list">
                <div class="item _custom_item">
                  <a href="#" title="English essay help">English Language</a>
                </div>
                <div class="item _custom_item">
                  Literature
                </div>
                <div class="item _custom_item">
                  <a href="#" title="history essay help">History</a>
                </div>
                <div class="item _custom_item">
                  Geography
                </div>
                <div class="item _custom_item">
                  Psychology
                </div>
                <div class="item _custom_item">
                  <a href="#" title="sociology essay help">Sociology</a>
                </div>
                <div class="item _custom_item">
                  Religion
                </div>
                <div class="item _custom_item">
                  Science
                </div>
                <div class="item _custom_item">
                  Mathematics and Statistics
                </div>
                <div class="item _custom_item">
                  Art
                </div>
              </div>
            </div>
            <div class="seven wide column" data-aos="fade-left">
              <div class="ui relaxed list _item_list">
                <div class="item _custom_item">
                  <a href="#" title="nursing essay help">Medicine and Nursing</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="law essay help">Law</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="MBA essay help">Business Studies</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="finance essay help">Finance</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="economic essay help">Economic</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="hrm essay help">HRM</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="marketing essay help">Marketing</a>
                </div>
                <div class="item _custom_item">
                  <a href="#" title="management essay help">Management</a>
                </div>
                <div class="item _custom_item">
                  Engineering
                </div>
              </div>
            </div>
          </div>
          <p>We can help with any paper type. Here is the list of most requested ones. If you don’t see the one you
            need, please contact us.</p>
          <div class="ui centered row stackable grid _list_wrapper">
            <div class="seven wide column">
              <div class="ui relaxed list _item_list">
                <div class="item _custom_item">
                  <a title="dissertation writing services">Dissertations</a>
                </div>
                <div class="item _custom_item">
                  Thesis proposals and writing
                </div>
                <div class="item _custom_item">
                  <a title="admission essay services">Admissions essays</a>
                </div>
                <div class="item _custom_item">
                  Environmental Research
                </div>
                <div class="item _custom_item">
                  Media and Communication
                </div>
                <div class="item _custom_item">
                  Case studies
                </div>
              </div>
            </div>
            <div class="seven wide column">
              <div class="ui relaxed list _item_list">
                <div class="item _custom_item">
                  Lab reports
                </div>
                <div class="item _custom_item">
                  Personal essays
                </div>
                <div class="item _custom_item">
                  Cause and effect essays
                </div>
                <div class="item _custom_item">
                  Political issues
                </div>
                <div class="item _custom_item">
                  Women and Gender research
                </div>
              </div>
            </div>
          </div>
          <p>Personalisation is another word for what we do. All papers are written from scratch, there are no
            templates and we regularly update our library to ensure a unique text every time.</p>
          <div class="ui row grid">
            <div class="two wide computer three wide mobile two wide tablet column" data-aos="fade-right">
              <img src="./assets/writer_img-5d7f84a5acdbf919e1fc599b9e0782d06c840e6278d3ecd4091bf7b9e25ee271.svg" />
            </div>
            <div class="fourteen wide computer thirteen wide mobile thirteen wide tablet column">
              <h2 class="title_img img_folder" data-aos="fade-left">How to get in touch with u</h2>
            </div>
          </div>
          <p>It's quite a simple process, you just need to fill the requirements and consider your work is done</p>
          <p>Provide us the details like guidelines from your tutor, expected word count, deadline, referencing style standards as per your university criteria, and expected grades. Then get an instant quotation from us.</p>
          <p>You will be directed to the project manager who will manage you personally and will be in contact with you 24*7 hour. You can freely ask for any doubts regarding the services offered. Any information that is related to the project deadline and reframing has to be done only with the allocated project manager. They help you in achieving the expected grade. The project manager will share the first draft. You can evaluate the draft with your tutor.</p>
          <p>Send us your tutor's feedback on the given first draft as it will give us more information about your paper and we can re-edit it more precisely. You will have your completed assignment delivered with a plagiarism report.</p>
          <h4>Note:</h4>
          <p>Intermediate payments are accepted as per the project milestones.</p>
          <p>We use a paid tool "Turnitin" for analyzing plagiarism check – The same tool used in most universities in Europe</p>
          <div class="ui row grid">
            <div class="two wide computer three wide mobile two wide tablet column" data-aos="fade-right">
              <img
                src="./assets/support_img-0883987a39de18e98b3e6eba4bc4ef08bb85d28d7fccd68d4c9f7083b2524603.svg" />
            </div>
            <div class="fourteen wide computer thirteen wide mobile fourteen wide tablet column" data-aos="fade-left">
              <h2 class="title_img img_folder">Our Support</h2>
            </div>
          </div>
          <p>Sometimes our writers are too busy doing your work so it is very difficult for them to get in touch with you all the time or instantly. This is why our support team exists. They will be always ready to help you 24/7.</p>
          <p>They'll hear out your every query and will suggest you an effective solution.</p>
            <p>The main job of our supporters:</p>
            <p>● Do you want updates on your ongoing purchase? You can contact our support team with your unique customer ID. They'll provide you all the details.</p>
            <p>● Do you want to understand more about our working process? They'll explain it to you.</p>
            <p>● If you are having trouble finding your criteria or you don't see the topic you are looking for? you can always contact our support team. They'll solve your problem. You don't need to hesitate if you have any queries you can directly ask us.</p>
        </div>
        <div class="five wide computer sixteen wide mobile sixteen wide tablet column" id="example1">
          <div class="ui sticky">
            <div class="_widget">
              <div class="ui center aligned computer only row grid">
                <div class="column">
                  <div class="_widget_title">
                    <span>The Best Price Offers You've Seen</span>
                  </div>
                </div>
              </div>
              <div class="ui left aligned mobile and tablet only row grid">
                <div class="column">
                  <div class="_widget_title">
                    <span>The Best Price Offers You've Seen</span>
                  </div>
                </div>
              </div>
              <div class="ui row grid _customWidget">
                <div class="column">
                  <div class="_widget_price">
                    <div class="ui two column row grid">
                      <div class="row">
                        <div class="column">
                          <strong class="_widget_subtitle">Best paper prices</strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="eleven wide column">
                          <p>Proofreading</p>
                          <p>Copywriting</p>
                          <p>Dissertation services</p>
                          <p>Editing</p>
                          <p>Rewriting</p>
                          <p>Academic paper writing</p>
                        </div>
                        <div class="five wide column">
                          <p><strong><span>£5.34</span><strong></strong></strong></p>
                          <p><strong><span>£19.07</span></strong></p>
                          <p><strong><span>£13.73</span></strong></p>
                          <p><strong><span>£3.8</span></strong></p>
                          <p><strong><span>£9.15</span></strong></p>
                          <p><strong><span>£11.44</span></strong></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="column">
                          <strong class="_widget_subtitle">Security &amp; Payments</strong>
                        </div>
                      </div>
                      <div class="lefted row">
                        <div class="seven wide column">
                          <div class="_charge_badges">
                            <img
                              src="./assets/badge_charges2-e063e12f64521284ccf7ea7fe0c8d784befeb750d56a477281bdc2d39a737aa1.svg" />
                          </div>
                        </div>
                        <div class="nine wide column">
                          <div class="_charge_money">
                            <img
                              src="./assets/badge_guarantee2-046a57f24763ce42c41b3015e1fc8a9fb837bdbebed5082ef89157c1137f7883.svg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="ui row grid">
                        <div class="column">
                            <p>EaSeUP guarantee the privacy of all the customers and never share their personal information with third parties. For more details read our Privacy Policy.</p>
                        </div>
                    </div> -->
              <div class="ui equal width relaxed justified row grid">
                <div class="column _visa">
                  <img src="./assets/visa-5e1db0ef033bc34d35a62fe6a04832ac4c71415378737d09e2df989464ceeea1.svg" />
                </div>
                <div class="column _mastercard">
                  <img
                    src="./assets/mastercard-5ed368eb439bfe9a6552c8908eb93d49aa746bc9599e466b9fc1e378a2d19f5f.svg" />
                </div>
                <div class="column _americanexpress">
                  <img
                    src="./assets//american_express-eededc67b658b737459f223dc0240bc85481ab0f9ad3a7f1b1f1cb47e5ef940e.svg" />
                </div>
                <div class="column">
                  <img
                    src="./assets/discover-dark-6fdec172e303bfbd0450378618f244895e64efbc584bfb4503cb011ba922ac65.svg" />
                </div>
                <div class="column _wiretransfer">
                  <img
                    src="./assets//wire-transfer-4c700f5ac5faa87347d8c0ce04ecab9011fea3a2f2d561e73c6a737d9b8cf5e9.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui row grid">
          <div class="center aligned sixteen wide column">
            <button class="ui yellow huge button _customBtnLast">ORDER NOW</button>
          </div>
      </div>
      </div>
    </div>


  </div>
</div>

<!--Info Modal-->
<div id="infoModal" class="ui long test modal _completeOrder">
  <i class="close icon"></i>
  <div class="header _infoModalHeader">
    ORDER NOW
  </div>
    <div class="scrolling description content">
      <form class="ui form _infoForm">
        <div class="ui dividing header"></div>
        <h3 class="_infoSubheading">Personal Information</h3>
        <div class="field">
          <div class="two fields">
            <div class="field _floatleft _infoModalRow">
              <label class="_pd-top">First Name<span><sup>*</sup></span></label>
              <input type="text" [(ngModel)]="info.firstName" name="shipping[first-name]" placeholder="Enter your first name" autocomplete="off">
            </div>
            <div class="field _floatright _infoModalRow">
              <label>Last Name<span><sup>*</sup></span></label>
              <input type="text" [(ngModel)]="info.lastName" name="shipping[last-name]" placeholder="Enter your last name" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="field">
          <div class="two fields">
            <div class="field _floatleft _infoModalRow">
              <label>Phone No.<span><sup>*</sup></span></label>
              <input type="text" [(ngModel)]="info.phoneNo" name="shipping[phone-no]" placeholder="Enter your phone no." autocomplete="off">
            </div>
            <div class="field _floatright _infoModalRow">
              <label>Email<span><sup>*</sup></span></label>
              <input type="text" [(ngModel)]="info.email" name="shipping[email]" placeholder="Enter your email" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="field _infoModalRow">
              <label>Comments<span><sup>*</sup></span></label>
              <textarea rows="3" [(ngModel)]="info.comment" name="shipping[comments]" placeholder="Enter your comments" autocomplete="off"></textarea>
        </div>
      </form>
  </div>
  <div class="actions">
    <div class="ui button _placeOrderBtn" (click)="placeOrder()" disabled="!isOrderDetailFilled()">Place Order</div>
  </div>
</div>

<!--Confirmation Modal-->
<div id="confirmationModal" class="ui small modal _confirmationOrder">
  <i class="close icon"></i>
  <div class="header _infoModalHeader">
    Confirmation
  </div>
    <div class="image content">
      <img src="./assets/success_tick" class="image" style="width: 50px; height: 50px;" />
      <div class="description" style="padding-top: 15px;">
      <span>Order Placed Successfully.</span>
      <span>Meritmates Team will contact at the earliest.</span>
    </div>
  </div>
</div>

  <!-- <div class="ui inverted dimmer" [ngClass]="{'active': true}">
    <div class="ui loader"></div>
  </div> -->



