<div class="_prices">
    <div class="ui container">
        <div class="ui grid _calculate_price">
            <div class="row">
                <div class="twelve wide column">
                    <div class="_page_title">
                        <strong>Prices</strong>
                    </div>
                    <div class="_page_calculator">
                        <div class="_cal">
                            <div class="ui row grid">
                                <div class="four wide column _label">
                                    <span>Select Currency</span>
                                </div>
                                <div class="twelve wide column">
                                    <div class="ui five equal width center aligned column row grid">
                                        <div class="column _currency">
                                            <span>USD</span>
                                        </div>
                                        <div class="column _currency">
                                            <span>USD</span>
                                        </div>
                                        <div class="column _currency">
                                            <span>USD</span>
                                        </div>
                                        <div class="column _currency">
                                            <span>USD</span>
                                        </div>
                                        <div class="column _currency">
                                            <span>USD</span>
                                        </div>
                                    </div>
                                    <div class="ui divider"></div>
                                </div>

                                <div class="four wide column _label">
                                    <span>Type of service</span>
                                </div>
                                <div class="twelve wide column">
                                    <div class="ui five equal width center aligned column row grid">
                                        <div class="ui fluid scrolling selection dropdown _customDropdown">
                                            <input type="hidden" name="gender">
                                            <div class="default text">Academic paper writing</div>
                                            <i class="dropdown icon _dropdownIcon"></i>
                                            <div class="menu _dropdownMenu">
                                                <div class="item _dropdownItem">Academic paper writing</div>
                                                <div class="item _dropdownItem">Rewriting</div>
                                                <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                                                <div class="item _dropdownItem">Proofreading</div>
                                                <div class="item _dropdownItem">Editing</div>
                                                <div class="item _dropdownItem">Copywriting</div>
                                                <div class="item _dropdownItem">Admission service</div>
                                                <div class="item _dropdownItem">Resume/CV Services</div>
                                                <div class="item _dropdownItem">Multiple Choice Question</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="four wide column _label">
                                    <span>Type of Paper</span>
                                </div>
                                <div class="twelve wide column">
                                    <div class="ui five equal width center aligned column row grid">
                                        
                                    </div>
                                </div>

                                <div class="four wide column _label">
                                    <span>Academic Level</span>
                                </div>
                                <div class="twelve wide column">
                                    <div class="ui five equal width center aligned column row grid">
                                        
                                    </div>
                                </div>

                                <div class="four wide column _label">
                                    <span>Number of pages or words</span>
                                </div>
                                <div class="twelve wide column">
                                    <div class="ui five equal width center aligned column row grid">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                                <!-- <div class="row _fieldItem _dropdownFieldItem">
                                    <div class="column">
                                        <label>Type of Service</label>
                                        <div class="ui fluid scrolling selection dropdown _customDropdown">
                                            <input type="hidden" name="gender">
                                            <div class="default text">Academic paper writing</div>
                                            <i class="dropdown icon _dropdownIcon"></i>
                                            <div class="menu _dropdownMenu">
                                                <div class="item _dropdownItem">Academic paper writing</div>
                                                <div class="item _dropdownItem">Rewriting</div>
                                                <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                                                <div class="item _dropdownItem">Proofreading</div>
                                                <div class="item _dropdownItem">Editing</div>
                                                <div class="item _dropdownItem">Copywriting</div>
                                                <div class="item _dropdownItem">Admission service</div>
                                                <div class="item _dropdownItem">Resume/CV Services</div>
                                                <div class="item _dropdownItem">Multiple Choice Question</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row _fieldItem _dropdownFieldItem">
                                    <div class="column">
                                        <label>Type of Paper</label>
                                        <div class="ui fluid scrolling selection dropdown _customDropdown">
                                            <input type="hidden" name="gender">
                                            <div class="default text">Essay</div>
                                            <i class="dropdown icon _dropdownIcon"></i>
                                            <div class="menu _dropdownMenu">
                                                <div class="item _dropdownItem">Essay</div>
                                                <div class="item _dropdownItem">Term Paper</div>
                                                <div class="item _dropdownItem">Coursework</div>
                                                <div class="item _dropdownItem">Research Paper</div>
                                                <div class="item _dropdownItem">Book Report</div>
                                                <div class="item _dropdownItem">Book Review</div>
                                                <div class="item _dropdownItem">Movie Review</div>
                                                <div class="item _dropdownItem">Research Summary</div>
                                                <div class="item _dropdownItem">Reflectiva Writing</div>
                                                <div class="item _dropdownItem">Thesis</div>
                                                <div class="item _dropdownItem">Case Study</div>
                                                <div class="item _dropdownItem">Lab Report</div>
                                                <div class="item _dropdownItem">Powerpoint Presentation</div>
                                                <div class="item _dropdownItem">Article</div>
                                                <div class="item _dropdownItem">Article Critique</div>
                                                <div class="item _dropdownItem">Annotated Bibliography</div>
                                                <div class="item _dropdownItem">Reaction Paper</div>
                                                <div class="item _dropdownItem">Project</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row _fieldItem _dropdownFieldItem">
                                    <div class="column">
                                        <label>Paper / Words</label>
                                        <div class="ui fluid scrolling selection dropdown _customDropdown">
                                            <input type="hidden" name="gender">
                                            <div class="default text">12</div>
                                            <i class="dropdown icon _dropdownIcon"></i>
                                            <div class="menu _dropdownMenu">
                                                <div class="item _dropdownItem">Academic paper writing</div>
                                                <div class="item _dropdownItem">Rewriting</div>
                                                <div class="item _dropdownItem">Math/Physic/Economic/Statistic Problems</div>
                                                <div class="item _dropdownItem">Proofreading</div>
                                                <div class="item _dropdownItem">Editing</div>
                                                <div class="item _dropdownItem">Copywriting</div>
                                                <div class="item _dropdownItem">Admission service</div>
                                                <div class="item _dropdownItem">Resume/CV Services</div>
                                                <div class="item _dropdownItem">Multiple Choice Question</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row _fieldItem _dropdownFieldItem">
                                    <div class="column">
                                        <label>Acadmeic Level</label>
                                        <div class="ui fluid scrolling selection dropdown _customDropdown">
                                            <input type="hidden" name="gender">
                                            <div class="default text">GCSE/ A Level</div>
                                            <i class="dropdown icon _dropdownIcon"></i>
                                            <div class="menu _dropdownMenu">
                                                <div class="item _dropdownItem">GCSE/ A Level</div>
                                                <div class="item _dropdownItem">HNC / HND</div>
                                                <div class="item _dropdownItem">Undergraduate</div>
                                                <div class="item _dropdownItem">Masters</div>
                                                <div class="item _dropdownItem">Doctoral</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row _fieldItem _dropdownFieldItem">
                                    <div class="column">
                                        <label>Urgency</label>
                                        <div class="ui fluid scrolling selection dropdown _customDropdown">
                                            <input type="hidden" name="gender">
                                            <div class="default text">14 days</div>
                                            <i class="dropdown icon _dropdownIcon"></i>
                                            <div class="menu _dropdownMenu">
                                                <div class="item _dropdownItem">3 hours</div>
                                                <div class="item _dropdownItem">6 hours</div>
                                                <div class="item _dropdownItem">8 hours</div>
                                                <div class="item _dropdownItem">12 hours</div>
                                                <div class="item _dropdownItem">18 hours</div>
                                                <div class="item _dropdownItem">24 hours</div>
                                                <div class="item _dropdownItem">3 days</div>
                                                <div class="item _dropdownItem">4 days</div>
                                                <div class="item _dropdownItem">5 days</div>
                                                <div class="item _dropdownItem">6 days</div>
                                                <div class="item _dropdownItem">7 days</div>
                                                <div class="item _dropdownItem">8 days</div>
                                                <div class="item _dropdownItem">10 days</div>
                                                <div class="item _dropdownItem">14 days</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row _fieldItem">
                                    <div class="column">
                                        <label class="_price">Price per page: <span class="_digit">$10.84</span></label>
                                    </div>
                                </div>
                                <div class="row _fieldItem _totalAmout">
                                    <div class="column">
                                        <label class="_totalPrice">Total Price:
                                            <span class="_totalDigit">
                                                <sup>$</sup>
                                                <strong>10</strong>.84
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="ui row grid _fieldItem _orderbtnfield">
                                    <div class="eight wide column">
                                        <button class="ui yellow huge fluid button"><span class="_orderbtn"><strong>ORDER
                                                    NOW</strong></span></button>
                                    </div>
                                </div> -->
                        
                        <div class="ui row grid">
                            <div class="sixteen wide column">
                                <table class="ui single line very basic table _customTable">
                                    <tbody>
                                    <tr class="center aligned">
                                        <td> 
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="radio">
                                            </div>
                                        </td>
                                        <td>14 days</td>
                                        <td class="_day_price">$10.84/page</td>
                                        <td>03/12/2020</td>
                                    </tr>
                                    <tr class="center aligned">
                                        <td> 
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="radio">
                                                </div>
                                        </td>
                                        <td>10 days</td>
                                        <td class="_day_price">$12.35/page</td>
                                        <td>03/08/2020</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr/>
                            </div>
                        </div>
                            
                        
                    </div>
                </div>
                <div class="four wide column">

                </div>
            </div>
        </div>

        <div class="_page_info_content">
            <div class="ui grid">
                <div class="row">
                    <div class="column">
                        <p>We take into consideration following details:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui relaxed list _item_list">
                            <div class="item _custom_item">
                                Your Deadline
                            </div>
                            <div class="item _custom_item">
                                Your Academic Level
                            </div>
                            <div class="item _custom_item">
                                How Many Pages Needed
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
