<div class="_wrapper">
  <div class="_contact_content">
    <div class="ui container">
      <!-- <div class="ui breadcrumb">
                <a class="section">Home</a>
                <i class="right angle icon divider"></i>
                <a class="section">Store</a>
                <i class="right angle icon divider"></i>
                <div class="active section">T-Shirt</div>
              </div> -->
      <div class="ui stackable grid">
        <div class="row">
          <div class="twelve wide column _content">
            <div class="_page_title">
              <strong>{{ content.title }}</strong>
            </div>
            <p>{{ content.briefDescription }}</p>
            <hr />
            <div class="ui stackable row grid">
              <div class="column">
                <h3>Customer Reviews</h3>
              </div>
            </div>
            <div
              class="ui two column stackable row grid"
              *ngFor="let review of content.reviewList"
            >
              <div class="six wide column _contact">
                <div class="ui one cards">
                  <div class="card _cardDes">
                    <div class="content">
                      <div class="header _reviewer">
                        <h4 class="_text-transform">
                          {{ review.name }}
                          <div
                            class="ui star rating _rating"
                            data-rating="4"
                          ></div>
                        </h4>
                      </div>
                      <div class="meta _place _text-transform">
                        {{ review.city }}, {{ review.country }}
                      </div>
                      <div class="description _topic">
                        <p>{{ review.topic }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ten wide column _contact">
                <div class="ui one cards">
                  <div class="card">
                    <div class="content">
                      <div class="description">
                        <p>{{ review.reviewDes }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="four wide column"></div>
        </div>
      </div>
    </div>
  </div>
</div>
